@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 2.5s linear infinite;
}

body{
    margin: 0;
    padding: 0;
    /* height: 100%;
    width: 100%; */
    box-sizing: border-box;
}

html{
        height: 100%;
    width: 100%;
}


.tooltip.tooltip-sm::after {
  background-color: #fff;
  color: black;
}
.tooltip.tooltip-sm::before {
  font-size: 0.6rem; 
  background-color: #fff;
  color: black;
}